<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="<%= favicon %>" />
    <link rel="manifest" href="/manifest.json" />
    <link key="canonical" rel="canonical" href="<%= url %>" />
    <title><%= title %></title>

    <base href="/" />
    <link rel="apple-touch-icon" href="<%= favicon %>" />

    <meta name="og:type" property="og:type" content="website" />
    <meta name="og:title" property="og:title" content="<%= title %>" />
    <meta name="og:image" property="og:image" content="<%= ogImage %>" />
    <meta name="og:url" property="og:url" content="<%= url %>" />
    <meta
      name="og:description"
      property="og:description"
      content="<%= description %>"
    />

    <link href="<%= apiUrl %>" rel="preconnect" crossorigin="true" />
    <link href="<%= apiUrl %>" rel="dns-prefetch" crossorigin="true" />
    <link
      href="https://m.media-amazon.com"
      rel="preconnect"
      crossorigin="true"
    />
    <link
      href="https://m.media-amazon.com"
      rel="dns-prefetch"
      crossorigin="true"
    />
  </head>
  <body class="content">
    <div id="app" class="content">
      <p style="display: none"><%= description %></p>
    </div>
    <noscript>
      <div
        style="
          position: fixed;
          display: flex;
          z-index: 1000000;
          left: 0;
          color: rgb(255, 255, 255);
          justify-content: center;
          align-items: center;
          bottom: 50%;
          background: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100px;
          padding: 8px;
        "
      >
        <h2>The website needs javascript such that it can be displayed</h2>
        <a href="https://www.enable-javascript.com/id/">
          Click here to know how to activate javascript in your browser
        </a>
      </div>
    </noscript>
  </body>
</html>
