---
import Label from '$lib/components/label.svelte';
import Poster from '$lib/components/poster.astro';
import { MOVIE_PATH_PREFIX } from '$lib/constants/internal-urls';
import type { MovieOverview } from '$lib/types/movie';
import {
  buildMovieTitleAndSlug,
  getReleaseYear,
} from '$lib/utils/movie';

import { getMovieGenres } from './utils';

interface Props {
  isLazyImage: boolean;
  movie: MovieOverview;
}

const { isLazyImage, movie } = Astro.props;

const {
  genre_ids,
  id,
  original_title,
  poster_path,
  release_date,
  title,
} = movie;

const { movieTitle, slug } = buildMovieTitleAndSlug(
  id,
  title,
  original_title,
);

const genres = getMovieGenres(genre_ids);
const releaseYear = getReleaseYear(release_date);
---

<div class='movie-card'>
  <Poster
    alt={movieTitle}
    class='movie-card__poster'
    loading={isLazyImage ? 'lazy' : 'eager'}
    posterPath={poster_path}
  />

  <a
    class='movie-card__link'
    href={MOVIE_PATH_PREFIX + '/' + slug}
    title={movieTitle}
  >
    <span
      class={poster_path ? 'visually-hidden' : 'movie-card__title'}
    >
      {movieTitle}
    </span>
  </a>

  {
    (genres.length > 0 || releaseYear) && (
      <div class='movie-card__labels'>
        <div class='visually-hidden'>Genres and Release Year</div>
        <ul class='movie-card__labels__list'>
          {genres.length > 0 &&
            genres.map(genre => (
              <Label class='line-clamp-1' component='li'>
                {genre}
              </Label>
            ))}

          {releaseYear && (
            <Label class='line-clamp-1' color='white' component='li'>
              {releaseYear}
            </Label>
          )}
        </ul>
      </div>
    )
  }
</div>

<style lang='scss'>
  .movie-card {
    position: relative;
    box-shadow: var(--shadow-low);
    border-radius: 8px;
  }

  .movie-card__poster {
    width: 100%;
  }

  .movie-card__link::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    content: ' ';
  }

  .movie-card__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    font-weight: 600;
    text-align: center;
  }

  .movie-card__labels {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
  }

  .movie-card__labels__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0;
    list-style: none;
  }
</style>
