---
import { Image } from 'astro:assets';

import Label from '$lib/components/label.svelte';
import NoImagePoster from '$lib/images/no-image-poster.png';
import type { MovieOverview } from '$lib/types/movie';

import { buildMovieTitle, getMovieGenres } from './utils';

interface Props {
  isLazyImage: boolean;
  movie: MovieOverview;
}

const { isLazyImage, movie } = Astro.props;

const { genre_ids, original_title, title, poster_path } = movie;

const IMAGE_WIDTH = 250;
const IMAGE_HEIGHT = 375;

const movieTitle = buildMovieTitle(title, original_title);
const genres = getMovieGenres(genre_ids);
---

<div class='movie-card'>
  {
    poster_path ? (
      <Image
        alt={movieTitle}
        class='movie-card__image'
        data-tmdb-img='poster'
        height={IMAGE_HEIGHT}
        loading={isLazyImage ? 'lazy' : 'eager'}
        src={poster_path}
        width={IMAGE_WIDTH}
      />
    ) : (
      <Image
        alt={movieTitle}
        class='movie-card__image'
        data-tmdb-img='poster'
        height={IMAGE_HEIGHT}
        loading={isLazyImage ? 'lazy' : 'eager'}
        src={NoImagePoster}
        width={IMAGE_WIDTH}
      />
    )
  }

  <p class={poster_path ? 'visually-hidden' : 'movie-card__title'}>
    {movieTitle}
  </p>

  {
    genres.length > 0 && (
      <div class='movie-card__genres'>
        <div class='visually-hidden'>Genres</div>
        <ul class='movie-card__genres__list'>
          {genres.map(genre => (
            <Label class='line-clamp-1' component='li'>
              {genre}
            </Label>
          ))}
        </ul>
      </div>
    )
  }
</div>

<style lang='scss'>
  .movie-card {
    position: relative;
    box-shadow: var(--shadow-low);
    border-radius: 8px;
  }

  .movie-card__image {
    width: 100%;
    aspect-ratio: 2 / 3;
    background-color: var(--color-neutral-25);
    object-fit: cover;
    border-radius: 8px;
  }

  .movie-card__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    font-weight: 600;
    text-align: center;
  }

  .movie-card__genres {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
  }

  .movie-card__genres__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0;
    list-style: none;
  }
</style>
