---
import { Image } from 'astro:assets';

import GithubIcon from '$lib/images/github-icon.png';

// import SearchBox from './components/search-box/search-box.svelte';
import SearchSummary from './components/search-summary.astro';

interface Props {
  title?: string;
  totalSearchResult?: number;
  variant?: 'home' | 'detail';
}

const {
  title = 'Explore Movies',
  totalSearchResult = 0,
  variant = 'home',
} = Astro.props;
---

<div class='header-container'>
  <header data-search-box-shown='false'>
    <div class='header__inner'>
      <nav>
        {
          variant === 'home' ? (
            <a
              href={import.meta.env.REPOSITORY_URL}
              target='_blank'
              title='Repository'
            >
              <Image
                alt='GitHub Icon'
                loading='eager'
                src={GithubIcon}
                width={96}
                height={96}
              />
              <span class='visually-hidden'>Repository</span>
            </a>
          ) : (
            <a href='/' title='Homepage'>
              <Image
                alt='Home'
                loading='eager'
                src='/icons/apple-touch-icon-114x114.png'
                width={96}
                height={96}
              />
              <span class='visually-hidden'>Home</span>
            </a>
          )
        }
      </nav>

      <div class='search-container'>
        {
          totalSearchResult > 0 ? (
            <SearchSummary {totalSearchResult} />
          ) : (
            <h1 class='font-bold line-clamp-2'>{title}</h1>
          )
        }
      </div>
    </div>
  </header>
</div>

<style lang='scss'>
  .header-container {
    --header-height: 84px;

    width: 100%;
    margin-top: var(--header-height);
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-app-bar);
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-neutral-00);
    box-shadow: var(--shadow-high);
    transition-property: width, padding;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
  }

  .header__inner {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--screen-size-xl);
    height: var(--header-height);
    padding: 0 var(--left-right-gutter);
    margin: 0 auto;
    transition: inherit;
  }

  nav {
    --size: 32px;
    width: var(--size);
    height: var(--size);
    transition: inherit;
  }

  a {
    display: block;
  }

  a :global(img) {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .search-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    transition: inherit;

    h1 {
      text-align: center;
      font-size: 18px;
    }
  }

  @include search-box-shown {
    nav {
      --size: 0px;
    }
  }

  @include md {
    .search-container {
      h1 {
        font-size: 20px;
      }
    }
  }

  @include lg {
    .header-container {
      --header-height: 96px;
    }

    nav {
      --size: 48px;
    }

    .search-container {
      h1 {
        font-size: 24px;
      }
    }

    @include search-box-shown {
      nav {
        --size: 48px;
      }
    }
  }
</style>

<script>
  import { isSearchBoxShown } from '$lib/stores/search';

  const header = document.querySelector(
    'div.header-container > header',
  );

  isSearchBoxShown.subscribe(isShown => {
    header?.setAttribute('data-search-box-shown', `${isShown}`);
  });
</script>
